html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  line-height: 1.5;
}
body.noscroll {
  overflow: hidden;
}

.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 0.2s ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 0.2s ease-in-out forwards;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.basic-btn {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.6rem 3rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #00b3ff;
  transition: 0.3s ease-in-out;
}
.basic-btn:hover {
  opacity: 0.8;
}

.header {
  background-color: white;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.header.open .header__hamburger > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__hamburger > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__hamburger > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
.header .header__topnav {
  position: relative;
  padding: 1rem 2%;
  border-bottom: 1px solid #c7c7c7;
  background-color: white;
}
@media (max-width: 39.9375em) {
  .header .header__topnav {
    flex-wrap: wrap;
  }
}
.header .header__searchbox {
  width: 50%;
  border-radius: 0.5rem;
  border: 1px solid #c7c7c7;
}
@media (max-width: 39.9375em) {
  .header .header__searchbox {
    width: 100%;
    margin: 0.4rem auto;
  }
}
.header .header__searchbox .fas {
  font-size: 1rem;
  color: #919191;
  padding: 0 0.5rem;
}
.header .header__searchbox input {
  flex: 1;
  line-height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
}
.header .header__cta1, .header .header__cta2 {
  padding: 0.5rem 1rem;
  border: 1px solid #c7c7c7;
  border-radius: 0.5rem;
  font-weight: 400;
  color: black;
  transition: color 0.3s ease-in-out;
}
.header .header__cta1:hover, .header .header__cta2:hover {
  color: #5e5e5e;
}
@media (max-width: 39.9375em) {
  .header .header__cta1, .header .header__cta2 {
    position: absolute;
    right: 3rem;
    top: 1rem;
    padding: 0.2rem 0.5rem;
  }
}
.header .header__cta2 {
  background-color: #00b3ff;
  border: 1px solid #00b3ff;
  margin-left: 0.5rem;
  transition: 0.3s ease-in-out;
}
.header .header__cta2:hover {
  color: white;
  box-shadow: 1px 1px 10px black;
}
.header .header__hamburger > span {
  display: block;
  width: 20px;
  height: 2px;
  margin: 0 0.4rem;
  background-color: black;
  transition: all 0.3s ease-in-out;
  transform-origin: left center;
}
.header .header__hamburger > span:not(:last-child) {
  margin-bottom: 0.3rem;
}
@media (max-width: 39.9375em) {
  .header .header__hamburger {
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
  }
}
.header nav {
  padding: 0.8rem 4%;
  position: relative;
}
.header nav a {
  position: relative;
  font-size: 1.125rem;
  color: black;
  transition: color 0.3s ease-in-out;
}
.header nav a::before {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -13px;
  border-radius: 10px;
  background-color: #00b3ff;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.header nav a:hover::before, .header nav a.active::before {
  opacity: 1;
}
.header .header__menu {
  position: absolute;
  width: calc(100% - 2rem);
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.header .header__menu a {
  display: block;
  color: black;
  padding: 0.5rem;
}

.loginmodal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.loginmodal .loginmodal__content {
  width: 22rem;
  background-color: white;
  padding: 0 1rem;
  border-radius: 1rem;
  flex-direction: column;
}
.loginmodal .loginmodal__content .close-btn {
  position: absolute;
  right: 50rem;
  font-size: 2rem;
  cursor: pointer;
  color: #5e5e5e;
}
@media (max-width: 39.9375em) {
  .loginmodal .loginmodal__content .close-btn {
    right: 1.5rem;
  }
}
.loginmodal .loginmodal__title {
  text-align: center;
}
.loginmodal .loginmodal__form {
  position: relative;
  flex-direction: column;
}
.loginmodal .loginmodal__form .input-container {
  margin-top: 1.375rem;
}
.loginmodal .loginmodal__form .input-container .email-input, .loginmodal .loginmodal__form .input-container .password-input {
  font-size: 1.125rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid #c7c7c7;
  border-radius: 0.5rem;
  outline: none;
}
.loginmodal .loginmodal__form .input-container .email-input:focus, .loginmodal .loginmodal__form .input-container .password-input:focus {
  border-color: #80d9ff;
}
.loginmodal .loginmodal__form .input-container .email-label {
  position: absolute;
  font-size: 1.125rem;
  color: #5e5e5e;
  left: 1rem;
  top: 2.2rem;
  padding: 0 0.2rem;
  cursor: text;
  transition: top 0.2s ease-in, left 0.2s ease-in, font-size 0.2s ease-in;
  background-color: white;
}
.loginmodal .loginmodal__form .input-container .password-label {
  position: absolute;
  font-size: 1.125rem;
  color: #5e5e5e;
  left: 1rem;
  top: 7.1rem;
  padding: 0 0.2rem;
  cursor: text;
  transition: top 0.2s ease-in, left 0.2s ease-in, font-size 0.2s ease-in;
  background-color: white;
}
.loginmodal .loginmodal__form .input-container .fa {
  position: absolute;
  top: 7.5rem;
  right: 0.8rem;
  color: #5e5e5e;
  cursor: pointer;
}
.loginmodal .email-input:focus ~ .email-label, .loginmodal .loginmodal__form .input-container .password-input:focus ~ .email-label,
.loginmodal .email-input:not(:placeholder-shown).email-input:not(:focus) ~ .email-label,
.loginmodal .loginmodal__form .input-container .password-input:not(:placeholder-shown):not(:focus) ~ .email-label {
  top: 0.8rem;
  font-size: 0.875rem;
  color: #005980;
}
.loginmodal .password-input:focus ~ .password-label,
.loginmodal .password-input:not(:placeholder-shown).password-input:not(:focus) ~ .password-label {
  top: 5.8rem;
  font-size: 0.875rem;
  color: #005980;
}
.loginmodal .loginmodal__forgotpassword {
  width: 100%;
  margin-top: 0.4rem;
  text-align: right;
}
.loginmodal .loginmodal__forgotpassword a {
  font-size: 0.875rem;
  color: #303030;
}
.loginmodal .loginmodal__forgotpassword a:hover {
  color: black;
}
.loginmodal .loginmodal__loginbtn {
  margin: 1rem 0;
}
.loginmodal .loginmodal__googlelogin {
  width: 100%;
}
.loginmodal .loginmodal__googlelogin hr {
  color: #c7c7c7;
  height: 1px;
}
.loginmodal .loginmodal__googlelogin .googlelogin-container {
  width: fit-content;
  height: 3rem;
  margin: 0.8rem auto;
  padding: 0 0 0px 1px;
  background-color: #4286f5;
  cursor: pointer;
}
.loginmodal .loginmodal__googlelogin .googlelogin-container img {
  background-color: white;
  padding: 0.8rem;
}
.loginmodal .loginmodal__googlelogin .googlelogin-container span {
  color: white;
  font-weight: 500;
  padding: 2rem;
}
.loginmodal .loginmodal__signup {
  width: 100%;
  font-size: 0.9rem;
  margin: 0.8rem 0;
  color: #303030;
  font-weight: 500;
}
.loginmodal .loginmodal__signup a {
  color: #00b3ff;
  padding-left: 0.2rem;
}

.signupmodal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.signupmodal .signupmodal__content {
  width: 22rem;
  background-color: white;
  padding: 0 1rem;
  border-radius: 1rem;
  flex-direction: column;
}
.signupmodal .signupmodal__content .close-btn {
  position: absolute;
  right: 50rem;
  font-size: 2rem;
  cursor: pointer;
  color: #5e5e5e;
}
@media (max-width: 39.9375em) {
  .signupmodal .signupmodal__content .close-btn {
    right: 1.5rem;
  }
}
.signupmodal .signupmodal__title {
  text-align: center;
}
.signupmodal .signupmodal__form {
  position: relative;
  flex-direction: column;
}
.signupmodal .signupmodal__form .input-container {
  margin-top: 1.375rem;
}
.signupmodal .signupmodal__form .input-container .fname-input, .signupmodal .signupmodal__form .input-container .password-input, .signupmodal .signupmodal__form .input-container .email-input {
  font-size: 1.125rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid #c7c7c7;
  border-radius: 0.5rem;
  outline: none;
}
.signupmodal .signupmodal__form .input-container .fname-input:focus, .signupmodal .signupmodal__form .input-container .password-input:focus, .signupmodal .signupmodal__form .input-container .email-input:focus {
  border-color: #80d9ff;
}
.signupmodal .signupmodal__form .input-container .fname-label {
  position: absolute;
  font-size: 1.125rem;
  color: #5e5e5e;
  left: 1rem;
  top: 2.2rem;
  padding: 0 0.2rem;
  cursor: text;
  transition: top 0.2s ease-in, left 0.2s ease-in, font-size 0.2s ease-in;
  background-color: white;
}
.signupmodal .signupmodal__form .input-container .email-label {
  position: absolute;
  font-size: 1.125rem;
  color: #5e5e5e;
  left: 1rem;
  top: 7.1rem;
  padding: 0 0.2rem;
  cursor: text;
  transition: top 0.2s ease-in, left 0.2s ease-in, font-size 0.2s ease-in;
  background-color: white;
}
.signupmodal .signupmodal__form .input-container .password-label {
  position: absolute;
  font-size: 1.125rem;
  color: #5e5e5e;
  left: 1rem;
  top: 12rem;
  padding: 0 0.2rem;
  cursor: text;
  transition: top 0.2s ease-in, left 0.2s ease-in, font-size 0.2s ease-in;
  background-color: white;
}
.signupmodal .signupmodal__form .input-container .fa {
  position: absolute;
  top: 12.4rem;
  right: 0.8rem;
  color: #5e5e5e;
  cursor: pointer;
}
.signupmodal .fname-input:focus ~ .fname-label, .signupmodal .signupmodal__form .input-container .email-input:focus ~ .fname-label, .signupmodal .signupmodal__form .input-container .password-input:focus ~ .fname-label,
.signupmodal .fname-input:not(:placeholder-shown).fname-input:not(:focus) ~ .fname-label,
.signupmodal .signupmodal__form .input-container .email-input:not(:placeholder-shown):not(:focus) ~ .fname-label,
.signupmodal .signupmodal__form .input-container .password-input:not(:placeholder-shown):not(:focus) ~ .fname-label {
  top: 0.7rem;
  font-size: 0.875rem;
  color: #005980;
}
.signupmodal .email-input:focus ~ .email-label, .signupmodal .loginmodal .loginmodal__form .input-container .password-input:focus ~ .email-label, .loginmodal .loginmodal__form .input-container .signupmodal .password-input:focus ~ .email-label,
.signupmodal .email-input:not(:placeholder-shown).email-input:not(:focus) ~ .email-label,
.signupmodal .loginmodal .loginmodal__form .input-container .password-input:not(:placeholder-shown):not(:focus) ~ .email-label,
.loginmodal .loginmodal__form .input-container .signupmodal .password-input:not(:placeholder-shown):not(:focus) ~ .email-label {
  top: 5.6rem;
  font-size: 0.875rem;
  color: #005980;
}
.signupmodal .password-input:focus ~ .password-label,
.signupmodal .password-input:not(:placeholder-shown).password-input:not(:focus) ~ .password-label {
  top: 10.5rem;
  font-size: 0.875rem;
  color: #005980;
}
.signupmodal .signupmodal__signbtn {
  margin: 1.5rem 0;
}
.signupmodal .signupmodal__googlelogin {
  width: 100%;
}
.signupmodal .signupmodal__googlelogin hr {
  color: #c7c7c7;
  height: 1px;
}
.signupmodal .signupmodal__googlelogin .googlelogin-container {
  width: fit-content;
  height: 3rem;
  margin: 0.8rem auto;
  padding: 0 0 0px 1px;
  background-color: #4286f5;
  cursor: pointer;
}
.signupmodal .signupmodal__googlelogin .googlelogin-container img {
  background-color: white;
  padding: 0.8rem;
}
.signupmodal .signupmodal__googlelogin .googlelogin-container span {
  color: white;
  font-weight: 500;
  padding: 2rem;
}
.signupmodal .signupmodal__login {
  width: 100%;
  font-size: 0.9rem;
  margin: 0.8rem 0;
  color: #303030;
  font-weight: 500;
}
.signupmodal .signupmodal__login a {
  color: #00b3ff;
  padding-left: 0.2rem;
}

.forgotmodal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.forgotmodal__content {
  width: 22rem;
  background-color: white;
  padding: 0 1rem;
  border-radius: 1rem;
  flex-direction: column;
}
.forgotmodal__content .close-btn {
  position: absolute;
  right: 50rem;
  font-size: 2rem;
  cursor: pointer;
  color: #5e5e5e;
}
@media (max-width: 39.9375em) {
  .forgotmodal__content .close-btn {
    right: 1.5rem;
  }
}
.forgotmodal .forgotmodal__form {
  position: relative;
  flex-direction: column;
}
.forgotmodal .forgotmodal__form .input-container {
  margin-bottom: 1rem;
}
.forgotmodal .forgotmodal__form .input-container .email-input, .forgotmodal .forgotmodal__form .loginmodal .loginmodal__form .input-container .password-input, .loginmodal .loginmodal__form .forgotmodal .forgotmodal__form .input-container .password-input {
  font-size: 0.875rem;
  width: 100%;
  height: 2rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #5e5e5e;
}
.forgotmodal .forgotmodal__form .fotgotbtn {
  width: 50%;
  font-weight: 500;
  margin: 0.6rem 0;
  padding: 0.6rem;
  border-radius: 30px;
  border: none;
  background-color: #00b3ff;
  cursor: pointer;
}
.forgotmodal .forgotmodal__form .fotgotbtn:hover {
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
