html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Public Sans", sans-serif;
  font-size: $font-sm;
  font-weight: 300;
  color: $black;
  line-height: 1.5;

  &.noscroll {
    overflow: hidden;
  }
}

a,
a:visited,
a:hover {
  font-size: 1rem;
  text-decoration: none;
}
// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

// buttons
button .button-basic {
  font-size: 1rem;
  text-align: center;
  padding: 3rem 1.875rem;
  border: 1px solid $black;
  border-radius: $b-radius;
  cursor: pointer;
}

// Visibility   // hide for mobile and tablets
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}
// hide for desktop viewport widths
.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
