.loginmodal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);

  &__content {
    position: relative;
    background-color: $white;
    margin: 10% auto;
    width: 20%;
    border-radius: 1rem;

    .close-btn {
      position: absolute;
      right: 1rem;
      font-size: 2rem;
      cursor: pointer;
    }
  }
  &__title {
    font-size: $font-bg;
    padding: 1.5rem 0;
    text-align: center;
  }

  &__form {
    position: relative;
    flex-direction: column;

    .input-container {
      margin: 1rem;

      .email-input {
        font-size: $font-md;
        width: 100%;
        padding: 1rem;
        border: 2px solid $gray100;
        border-radius: $radius;
        outline: none;

        &:focus {
          border-color: $primary-light;
        }
      }
      .email-label {
        position: absolute;
        font-size: $font-bg;
        left: 2rem;
        top: 1.8rem;
        padding: 0 0.2rem;
        cursor: text;
        transition: top 0.2s ease-in, left 0.2s ease-in, font-size 0.2s ease-in;
        background-color: $white;
      }
    }
  }
}
.email-input:focus ~ .email-label,
.email-input:not(:placeholder-shown).email-input:not(:focus) ~ .email-label {
  top: 0.4rem;
  font-size: $font-sm;
  left: 1.5rem;
  color: $primary-dark;
}
