// colors
$primary: hsl(198, 100%, 50%);
$primary-light: hsl(198, 100%, 75%);
$primary-dark: hsl(198, 100%, 25%);
$success: hsl(120, 100%, 25%);
$error: hsl(0, 100%, 50%);
$white: hsl(0, 0%, 100%);
$gray100: hsl(0, 0%, 78%);
$gray300: hsl(0, 0%, 57%);
$gray500: hsl(0, 0%, 37%);
$gray700: hsl(0, 0%, 19%);
$black: hsl(0, 0%, 0%);

// fonts
$font-sm: 0.875rem; //14px
$font-md: 1.125rem; //18px
$font-bg: 1.375rem; //22px

// border
$radius: 0.5rem;
